@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/_Shared/_Shared.cshtml";
}


<div class="row">
    <div class="col-sm-offset-3 col-sm-6">

        <div class="panel panel-primary" id="signinPanel">
            <div class="panel-heading"><h2 class="text-center">Signin</h2></div>
            <div class="panel-body">

                <form>
                    <div class="form-group">
                        <label for="empId">Employee ID:</label>
                        <input type="number" class="form-control" id="empId">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" id="signin">Signin</button>
                    </div>

                </form>
                <hr />
                <div class="col-sm-12 col-xs-12 text-center">
                    <h3>Don't have an account</h3>
                    <a class="btn btn-primary" id="submit" href="@Url.Action("Registration", "Public")">Signup</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).on("click", "#signin", function (e) {
        e.preventDefault();
        if ($('#empId').val().trim() != '' && $('#pwd').val().trim() != '') {
            var user = {};
            user = {
                "EmployeeId": $('#empId').val(),
                "Password": $('#pwd').val(),
            }
            $.ajax({
                url: "/ADO/SignIn",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(user),
                //crossDomain: true,
                success: function (res) {
                    console.log(res);
                    if (res.messageType == 'error' || res.res == null || res.res.LoginId == 0 || res.res.LoginId == '0') {
                        toastr["error"]("Enter Correct Details.")
                    } else {
                        localStorage.setItem('currentEmployee', res.res.LoginId);
                        window.location.replace("@Url.Action("Dashboard", "Private")");
                    }

                },
                error: function (err) {
                    toastr["error"](err);
                }
            });
            console.log(user);
            return false;
        } else {
            toastr["error"]('All Fields are Mandatory.');
        }
    });

</script>

<style>
    #signinPanel{
        margin-top:10%;
    }
    body {
        background-image: url('../../Content/Images/background.jpg');
    }
    #signinPanel{
        color: white;
        background-color: rgba(255,255,255,.15);
        border-color: transparent!important;
    }
    #signinPanel .panel-heading{
        color: #fff!important;
        background-color: rgba(255, 255, 255, 0.2)!important;
        border-color: transparent!important;
    }
    .btn-primary,.btn-primary:hover,.btn-primary:active{
        background-color: #820620!important;
        border-color: #300009!important;
    }
    .btn-primary:focus{
        background-color:#300009!important;
    }
</style>