@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Private/Index.cshtml";
}

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css" />

<div class="row">
    <div class="col-sm-8 col-xs-6 col-md-8">
        <h2>Dashboard</h2>
    </div>
    <div class="col-sm-4 col-xs-4 col-md-4">
        <img id="profilePic">
    </div>
</div>
<hr />

<div class="row">
    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Personal Info
                <button class="btn btn-primary pull-right" id="editInfo">Edit</button>
            </div>
            <div class="panel-body">
                <div id="tab"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Points Earned in Last 7 Days</div>
                    <div class="panel-body">
                        <div id="DayChart7"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Points Earned in Last 30 Days</div>
                    <div class="panel-body">
                        <div id="DayChart30"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Points Earned in Last 365 Days</div>
                    <div class="panel-body">
                        <div id="DayChart365"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Overall Points Transferred</div>
    <div class="panel-body">
        <div id="chart"></div>
    </div>
</div>

<div id="editInfoMoadl" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Info</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" id="name">
                    </div>

                    <div class="form-group">
                        <label for="pwd">New Password:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="form-group">
                        <label for="usr">Mobile:</label>
                        <input type="number" class="form-control" id="mobile" onkeypress="return isNumber(event)" onkeydown="checkLength(this.value, event, 10)">
                    </div>

                    <div class="form-group">
                        <label for="usr">Designation:</label>
                        <select class="form-control" id="desig">
                            <option value="1">Project Manager</option>
                            <option value="2">Senior Software Engineer</option>
                            <option value="4">Team Lead</option>
                            <option value="3">Software Engineer</option>
                            <option value="5">Graduate Engineer Trainee</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="uploadPic">Profile Picture:</label>
                        <input class="form-control" type="file" name="file" id="uploadPic" />
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="updateDetails">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    var day = 7;
    $(document).ready(function () {
        $('#dashNav').addClass('activeNav');
        var dashHtml = localStorage.getItem("currentEmployee");
        if (dashHtml != null) {
            dashBoard(parseInt(dashHtml));
            graphPoints(dashHtml);
            day = 7;
            pointsBetweenDates("#DayChart7", 7);
            pointsBetweenDates("#DayChart30", 30);
            pointsBetweenDates("#DayChart365", 365);

        }
        else {
            $("#tab").html("<b>Go to login page</b>");
        }
    })

    function dashBoard(loginId) {
        var data = { LoginId: loginId };
        $.ajax({
            //url: "/ADO/GetEmployee",
            url: "/ADO/GetEmployee",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            //crossDomain: true,
            success: function (res) {
                console.log(res);
                if (res.messageType == "success") {
                    var html = "<div class='row'><div class='col-xs-6 col-md-5'><strong>EmployeeName : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].EmployeeName + "</div></div>"
                    + "<div class='row'><div class='col-xs-6 col-md-5'><strong>Email ID : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].Email + "</div></div>"
                    + "<div class='row'><div class='col-xs-6 col-md-5'><strong>Contact : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].Contact + "</div></div>"
                    + "<div class='row'><div class='col-xs-6 col-md-5'><strong>Employee ID : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].EmployeeId + "</div></div>"
                    + "<div class='row'><div class='col-xs-6 col-md-5'><strong>TotalEarnedPoints : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].TotalEarnedPoints + "</div></div>"
                    + "<div class='row'><div class='col-xs-6 col-md-5'><strong>Designation : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].Title + "</div></div>";
                    $("#tab").html(html);
                    $('#profilePic').attr("src", "/ADO/Download?ImageName=" + res.res[0].ProfilePic);
                }
                else {
                    toastr["error"](res.message);
                }
            },
            error: function (err) {
                toastr["error"](err);
            }
        });
    }

    function graphPoints(id) {
        var a = { EmployeeId: id };
        $.ajax({
            url: "/ADO/PointsGraph",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(a),
            success: function (res) {
                console.log(res);
                generateChart(res.res);
            },
            error: function (res) {
                console.log(res);
            }
        })
    }

    function generateChart(res) {
        for (var i = 0; i < res.length; i++) {
            res[i].DateGiven = parseInt(res[i].DateGiven.substr(6, 13));
        }
        console.log(res);
        var chart = c3.generate({
            data: {
                bindto: '#chart',
                json: res,
                x: 'x',
                xFormat: '%Y',
                keys: {
                    x: "DateGiven",
                    value: ['Points']
                },
                type: 'bar'
            },
            bar: {
                width: {
                    ratio: 0.5 // this makes bar width 50% of length between ticks
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    localtime: true,
                    tick: {
                        format: '%d-%m-%Y'
                    }
                }
            }
        });

    }

    function pointsBetweenDates(id, days) {
        var today = new Date();
        var a = { EmployeeId: localStorage.getItem("currentEmployee"), FromDate: dateBefore(days ? days : day), ToDate: today };
        $.ajax({
            url: "/ADO/PointsBetweenDates",
            type: "POST",
            contentType: "application/json",
            dataType: " json",
            data: JSON.stringify(a),
            success: function (res) {
                console.log(res);
                $(id).html("<h3>" + res.res.EarnedPoints + "</h3>")
            },
            error: function (res) {
                console.log(res)
            }
        })
    }

    function dateBefore(days) {
        var date = new Date();
        var last = new Date(date.getTime() - (days * 24 * 60 * 60 * 1000));

        return last;
    }

    $(document).on('click', '#editInfo', function () {
        if(localStorage.getItem("currentEmployee")){
            $.ajax({
                url: "/ADO/GetEmployee",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({loginId:localStorage.getItem("currentEmployee")}),
                //crossDomain: true,
                success: function (res) {
                    console.log(res);
                    if (res.messageType == "success") {
                        $('#name').val(res.res[0].EmployeeName);
                        $('#mobile').val( res.res[0].Contact);
                        $('#desig').val(res.res[0].DesignationId);
                        
                        //$('#uploadPic').val("/ADO/Download?ImageName=" + res.res[0].ProfilePic);
                        $('#editInfoMoadl').modal('show');
                    }
                    else {
                        toastr["error"](res.message);
                    }
                },
                error: function (err) {
                    toastr["error"](err);
                }
            });
        }
    
        
    })
    
    $(document).on('click', '#updateDetails', function () {
        var user = new FormData;
        user.append("EmployeeName", $('#name').val());
        user.append("Password", $('#pwd').val());
        user.append("Contact", $('#mobile').val());
        user.append("DesignationId", $('#desig').val());
        user.append("ProfilePic", $('#uploadPic')[0].files[0]);
        console.log(user);
        $.ajax({
            url: "/ADO/Update",
            type: "POST",
            contentType: false,//"application/json; charset=utf-8",
            processData: false,
            data: user,
            //crossDomain: true,
            success: function (res) {
                console.log(res);
                if (res.res == 'true' || res.res == true)
                {
                    var html = "<div class='row'><div class='col-xs-6 col-md-5'><strong>EmployeeName : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].EmployeeName + "</div></div>"
                    + "<div class='row'><div class='col-xs-6 col-md-5'><strong>Email ID : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].Email + "</div></div>"
                    + "<div class='row'><div class='col-xs-6 col-md-5'><strong>Contact : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].Contact + "</div></div>"
                    + "<div class='row'><div class='col-xs-6 col-md-5'><strong>Employee ID : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].EmployeeId + "</div></div>"
                    + "<div class='row'><div class='col-xs-6 col-md-5'><strong>TotalEarnedPoints : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].TotalEarnedPoints + "</div></div>"
                    + "<div class='row'><div class='col-xs-6 col-md-5'><strong>Designation : </strong></div><div class='col-xs-6 col-md-7'>" + res.res[0].Title + "</div></div>";
                    $("#tab").html(html);
                    $('#profilePic').attr("src", "/ADO/Download?ImageName=" + res.res[0].ProfilePic);
                }
                else
                    toastr["error"](res.message);
            },
            error: function (err) {
            }
        });
    })

</script>


<style>
    .panel-heading {
        background-color: #135b96 !important;
        color: white !important;
    }

    #DayChart30, #DayChart365, #DayChart7 {
        text-align: center;
    }

    #tab .row {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    #profilePic {
        height: 63px;
        float: right;
    }

    #editInfo, #editInfo:active, #editInfo:hover, #editInfo:focus {
        background-color: #337ab7 !important;
        border-color: #1a7bcf !important;
        padding: 0px 15px;
    }

</style>